html {
    text-align: center;
}

h1 {
    font-family: fantasy;
}

#date {
    font-family: cursive;
}

.p {
    height: 300px;
    width: 400px;
}

#p1 {
    margin-right: 200px;
}
